:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(34, 34, 34, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;  
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e0d6ac;
}

h1 {
  font-size: 3.2em;
  line-height: 1.8;
  color: black;
  }
h2 {
  font-size: 2.4em;
  line-height: 1.6;
    color: black;

  }
h3 {
  font-size: 1.5em;
  line-height: 1.4;
    color: black;

  }


.handwriting {
  font-family: 'MyFont';
  animation: handwriting 2s ease-in-out;  
}
@keyframes handwriting {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #940606;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #eceee2
}
button:hover {
  border-color: #ffcb64;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.footer {
  margin-top: 5em;

  font-size: 0.9rem;
  color: rgba(34, 34, 34, 0.6);
}

